.Wheel
{
  margin: 2px solid green;
  border-radius: 15px;
  background-color: rgb(141, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width:200px;
  position: absolute;
  top:20%;
  left: 35%;
  transition: all 3s ease-in-out;
  
}
body{
    background-color: rgb(0, 0, 0);
    height: 222px;
    width: 700px;
}
.Wheel:hover{
    transform: rotate(2520deg);
    border-radius: 300px;
    box-shadow: 1px 2px 2px red,-1px 2px 3px green;
    background-color: rgba(17, 17, 133, 0.5);
}
#axle
{
    margin: 3px solid red;
    border-radius: 20px;
    color: brown;
    padding:1px 2px;
 
}